<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left">
                    <div class="logo">
                        <a href="#">Fashi.</a>
                    </div>
                    <div class="footer-info">
                        <p>Address: 60-49 Road 1137 New York</p>
                        <p>Phone: +65 11.188.888</p>
                        <p>Email: hello@fashi.com</p>
                    </div>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="footer-center">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h4>My Account</h4>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h4>Join Our Newsletter Now</h4>
                    <p>Get Email updates about our latest shop and special offers.</p>
                    <input type="email" placeholder="Enter Your Mail">
                    <button type="button" class="subscribe-btn">SUBSCRIBE</button>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 All rights reserved | This template is made with <span>&hearts;</span> by <a href="#">Covalib</a></p>
                <div class="payment-icons">
                    <img src="img/paypal.png" alt="PayPal">
                    <img src="img/visa.png" alt="Visa">
                    <img src="img/mastercard.png" alt="Mastercard">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
